<!doctype html>
<!-- Single webpage app with no (least) transition betweenpages. Should show the user panel during the ame.
As a view it represents UserState but more.
Has buttons too.-->
<!-- Moved to resources/public/* Based on uggestions in https://spring.io/guides/tutorials/spring-security-and-angular-js/ -->
<html> <!-- <html ng-app> -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Vote buttons + WebSocket</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/angular-bootstrap.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
        }
    </style>

    <style> .glyphicon-thumbs-up { cursor:pointer }</style>

    <script src="/websock/downloaded/sockjs-0.3.4.js"></script>
    <script src="/websock/downloaded/stomp.js"></script>
    <script src="/websock/bcw-wsock.js"></script>
    <!-- <script src="/hello.js"></script> -->
    <script src="./userstate_angjs1_module.js"></script>
    <script type="text/javascript">
    </script>

</head>

<body ng-app="my-usestate-angjs-module" onload="initial_reconnect()">
<!-- (todo:) The <body> is marked as ng-app="hello" which means we need to define a JavaScript "module" (not a function) that Angular will recognise as an application called "hello". -->
<!--
Although "initial_reconnect()" is not in the module "my-usestate-angjs-module" but it still works.
Because "onload" is non-AngularJS.
-->
<div class="container">
    <div class="page-header"> <!-- not necessary -->
        <h3>Bistable Crowd</h3>
    </div>
    <!-- <div ng-controller="YourStateJs" ng-cloak class="ng-cloak"> -->
    <div ng-controller="getYourStateJs_" ng-cloak class="ng-cloak">
        <!-- ng-controller is a "controller", the one who fills-in the handlebars here-->
        <!-- "ng-cloak" is not a bootstrap css. It belongs to AngularJS-->
        <!-- hello.js    use UserStateJs  and YourStateJs-->
        <p>User: {{userstate.publicName}} [uid:7] Chose:
            <span class="label label-primary">{{userstate.lastChoice}}</span> {{userstate.lastTimeSetAgo}}.</p>
        <p>Last seen: N/A. [present: {{userstate.onAppScreen}}] [{{userstate.debugText}}]</p>
        <!------ Buttons ------>
        <p>
            <!-- <a href="/choose?uid=7&choice=1"> -->
                <button type="button" class="btn btn-default btn-lg" data-ng-click="uchoose(1)">
                    <span class="glyphicon glyphicon glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> 1
                    <!-- :Horizontal -->
                </button>
            <!-- <a href="/choose?uid=7&choice=2"> -->
                <button type="button" class="btn btn-default btn-lg" data-ng-click="uchoose(2)">
                    <span class="glyphicon glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> 2
                    <!-- Vertical -->
                </button>
            <!-- <a href="/choose?uid=7&choice=3"> -->
                <button type="button" class="btn btn-default btn-lg"  data-ng-click="uchoose(3)">
                    <span class="glyphicon glyphicon glyphicon-resize-full" aria-hidden="true"></span> 3
                    <!-- Across -->
                </button>
        </p>

    </div>


    <!-- todo:  Don't use Controllers. Just use directives instead.-->
    <div ng-controller="getUserStateJs_" ng-cloak class="ng-cloak">
        <p>User: {{userstate.publicName}} [uid:8] Chose: {{userstate.lastChoice}}.</p>
        <p>When? {{userstate.lastTimeSet}}, Last seen: N/A. [present: {{userstate.onAppScreen}}] [{{userstate.debugText}}].</p>
    </div>
</div>

<hr/>
<noscript><h2 style="color: #ff0000">Websocket capability disabled because Seems your browser doesn't support Javascript.</h2></noscript>
<div ng-cloak class="ng-cloak">
    <div>
        <button id="connect" onclick="connect();"
                class="btn btn-default btn-lg">
            Connect
        </button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();"
                class="btn btn-default btn-lg"
                >Disconnect</button>
    </div>
    <div id="conversationDiv">







        <!--
                      <div class="row">
                          <div class="col-lg-6  col-sm-4">
                              <div class="input-group">

                                  <input type="text" class="col-sm-4" placeholder="Search for..." >
                                  <label>Label position does not work. The reason is: class="col-lg-2" </label>
                                  <input type="text" class="col-sm-4" placeholder="Search for..." >
                                  <input type="text" class="col-sm-4" placeholder="Search for..." >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
                              </div>
                          </div>
                      </div>
        -->


        <!-- form-control = full row-->

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <!--<div class="col-lg-4  col-sm-4"> -->
                    <!-- <span class="input-group"> -->
                    <div class="col-xs-1">
                        <input type="text" id="uid" value="7" placeholder="UID" class="form-control"/>
                    </div>
                    <div class="col-xs-1">
                        <input type="text" id="hischoice" value="1" placeholder="New choice" class="form-control"/>
                    </div>
                    <div class="col-xs-1">
                        <input type="text" id="oldchoice" value="2" placeholder="Old choice" class="form-control"/>
                    </div>
                    <div class="col-xs-2">
                          <span class="input-group-btn ">
                          <button id="sendChoice" onclick="sendChoice();"
                                  class="btn btn-default" type="button"
                                  >Broadcast</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <p id="response"></p>
    </div>
</div>







<script src="/js/angular-bootstrap.js" type="text/javascript"></script>
<!-- <script src="/js/appjs1.js"></script> -->
<!-- <script src="js/YourStateJs.js"></script> -->

</body>
</html>

<!--
{
   "lastTimeSet":"null",
   "privateName":"Jack",
   "onAppScreen":false,
   "publicName":"Jack"
}
-->




<!--
GET http://localhost:8080/hello/info 404 (Not Found)AbstractXHRObject._start @ sockjs-0.3.4.js:807(anonymous function) @ sockjs-0.3.4.js:841
stomp.js:145 Whoops! Lost connection to undefined
-->
